
.Htitle{
    font-size: 35px; 
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.navlink{   
   font-size: 17px;
   margin: 0px 10px;
   color: black;
   letter-spacing: 1px;
}

.link{
    text-decoration: none;
    color: gray;
}

.link:hover{
    text-decoration: none;
    color: black;
}